h4 {
  color: #527bbd;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
  padding-bottom: 0.2em;
  line-height: 1.0;
  padding-top: 0.5em;
  /* border-bottom: 1px solid #eee; */
  font-weight: normal;
}
h3 {
  color: #527bbd;
}
.color-blue {
  color: #224b8d;
  font-weight: bold;
}
