---
layout: default
title: Yongbo Wang
picture: life
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        <strong>Yongbo Wang</strong> (<span style="font-family: 'STXingkai'; font-size: 26px;">王勇博</span>)
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        School of Software Theory and Technology Chongqing Key Lab<br/>
        <a href="http://www.cs.cqu.edu.cn/">College of Computer Science</a><br/>
        <a href="http://english.cqu.edu.cn/">Chongqing University</a><br/>
        Shapingba District, Chongqing, China<br/>
<!--         <span style="font-size: 10px; font-style: italic; color: #999;">
        [ <a href="https://en.wikipedia.org/wiki/Project_211">Project 211</a> and 
        <a href="https://en.wikipedia.org/wiki/Project_985">Project 985</a> members ]<br/>
        [ Computer science of Chongqing University is the top 1% in the ESI ]<br/></span> -->
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:yongbowin@outlook.com"><span class="glyphicon glyphicon-envelope"></span> Email</a>: yongbowin@outlook.com<br/>
      <a href="tel:+86-13637995210"><span class="glyphicon glyphicon-phone"></span>+86 136 3799 5210</a><br/>
      <a href="http://www.linkedin.com/in/yongbo-wang/">
        <img src="img/ico/linkedin.png" alt=""/>
       LinkedIn</a><br/>
      <a href="https://yongbowin.github.io/">
        <img src="img/ico/homepage.png" alt=""/>
       Homepage</a>: https://yongbowin.github.io<br/>
    </div>
  </div>
</div>

<p>
<!-- <span style="color: #527bbd;"><strong>Welcome Yongbo's homepage.</strong></span> -->
<div style="text-align: center;color: #333!important;width: 100%;"><h4>Welcome to Yongbo's homepage!</h4></div>
</p>

<h4>Biography</h4>
<p>
I am now a visiting student in the Artificial Intelligence and Natural Language Processing team in 
Global Center for Big Mobile Intelligence (<a href="http://www.cs.cqu.edu.cn/">BMI</a>) in Shenzhen Institutes of Advanced Technology (<a href="http://www.siat.ac.cn">SIAT</a>), <a href="http://www.cas.cn">Chinese Academy of Sciences</a>, under the supervision of Prof. 
<a href="http://bmi.siat.ac.cn/index.php/qu/">Qiang Qu</a> and Prof. <a href="http://minyang.me">Min Yang</a> since December 2017.
</p>
<p>
Meanwhile, I'm a M.S. student at the Department of Computer Science and Technology, 
Chongqing University (<a href="http://english.cqu.edu.cn/">CQU</a>), under the supervision of Prof. 
<a href="http://yz.cqu.edu.cn/view_teacher.php?tid=14025">Yunni Xia</a> since September 2015. Previously, I received my bachelor degree in CQU in June, 2015.
</p>
<p>
<a href="CV/CV_YongboWang.pdf"><strong class="color-blue">My Resume/CV.</strong></a>
</p>

<h4>Research Interests</h4>
<!-- <blockquote>
  <span style="font-size: 10px; font-style: italic; color: #999;">
    <i>
      Although I majored in Cloud Computing during my master's degree, I have a strong interest in Natural Language Processing and Machine Learning, and have been working the Machine Learning & NLP group of 
      <a href="http://www.aitech.xin">Aizhihui Technology Co., Ltd.</a> as an 
      <strong class="color-blue">intern for over one year</strong> 
      in Shenzhen, China. During my internship, I have done much research work on the topics of it.
    </i>
  </span>
</blockquote> -->
<ul>
  <li>Natural Language Processing</li>
  <li>Machine Learning</li>
  <li>Deep Learning</li>
</ul>

<h4><span style="color: red;">News!</span></h4>
<p>
<span style="color: red;"><strong>We won the second place in the finals </strong></span>in the 
<a href="http://www.datadreams.org/race-race-4.html">Intelligent Investment Adviser Game</a> of the 
<a href="http://www.datadreams.org/">Big Data and Artificial Intelligence Innovation and Entrepreneurship Contest of 2017</a>. I was the team leader, my nickname is Boson in this competition. This is one of the competitions about machine learning and NLP in China. 
</p>

<h4>Recent Highlights</h4>
<!-- <blockquote>
  <span style="font-size: 10px; font-style: italic; color: #999;">
    Note: Both <i>Yongbo Wang</i> and <i>YongBuo Wang</i> are my names.
  </span>
</blockquote> -->
{% for post in site.papers %}
  {% include paper.html paper=post %}
{% endfor %}

<h4>Experience</h4>
<ul>
  <li>
    <strong>Research Intern</strong> | BMI, SIAT, Chinese Academy of Sciences<br/>
    <strong>Topic:</strong> Natural Language Processing<br/>
    Dec 2017 - present
    <strong>supervisor: </strong><a href="http://bmi.siat.ac.cn/index.php/qu/">Prof. Qiang Qu</a> and <a href="http://minyang.me">Prof. Min Yang</a><br/>
  </li>
  <li>
    <strong>Research Intern</strong> | 
    <a href="http://www.aitech.xin">
      <span class="color-blue">Aizhihui Technology Co., Ltd.</span>
    </a>, Shenzhen, China<br/>
    <strong>Topic:</strong> Machine Learning and NLP<br/>
    Jul 2016 - Nov 2017
  </li>
  <li>
    <strong>Web Development Intern</strong> | Chongqing Lingdao Technology Co. Ltd., Chongqing, China<br/>
    <strong>Topic:</strong> Web Developer<br/>
    Jul 2015 - Oct 2015
  </li>
</ul>

<h4>Awards</h4>
<ul>
  <li><strong>2nd place,</strong> The Intelligent Investment Adviser Game of the Big Data and Artificial Intelligence Innovation and Entrepreneurship Contest of 2017.</li>
<!--   <li>2nd prize, Scholarship, Chongqing University (2017).</li>
  <li>2nd prize, Scholarship, Chongqing University (2016).</li> -->
  <li>2nd prize, Chongqing Division, China Undergraduate Mathematical Contest in Modeling (2013).</li>
  <li>National Endeavor Scholarship (top 5%) (2012).</li>
  <li>2nd prize, Scholarship, Chongqing University (2012).</li>
</ul>

<h4>Others</h4>
<p>
Click <a href="self-evaluation.html"><strong class="color-blue">here</strong></a> to see my Skills and Self-evaluation.
</p>
<br/>
<p>
Thank you for visiting.
</p>
<br/>

<div>
  <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=tt&d=mFaxT5_Gxs_3AlkQfxb75Y66YQz07F4Hybrv8hHCDmI&co=38aafa&cmo=3acc3a&cmn=ff5353&ct=ffffff"></script>
</div>


