---
layout: default
title: Yongbo Wang
picture: nike
---

<style type="text/css">
  h4 {
    color: #527bbd;
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    padding-bottom: 0.2em;
    line-height: 1.0;
    padding-top: 0.5em;
    /* border-bottom: 1px solid #eee; */
    font-weight: normal;
  }
  h3 {
    color: #527bbd;
  }
  .color-blue {
    color: #224b8d;
  }
</style>

<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        <strong>Yongbo Wang</strong> (<span style="font-family: 'STXingkai'; font-size: 28px;">王勇博</span>)
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        <a href="http://www.cs.cqu.edu.cn/">College of Computer Science</a><br/>
        <a href="http://english.cqu.edu.cn/">Chongqing University</a><br/>
        <a href="https://en.wikipedia.org/wiki/Chongqing">Shapingba District, Chongqing, China</a><br/>
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:yongbowin@outlook.com"><span class="glyphicon glyphicon-envelope"></span></a> Email: yongbowin@outlook.com<br/>
      <a href="tel:+86-13637995210"><span class="glyphicon glyphicon-phone"></span>+86 136 3799 5210</a><br/>
      <a href="http://www.linkedin.com/in/yongbo-wang/">
        <img src="img/ico/linkedin.png" alt=""/>
       LinkedIn</a><br/>
    </div>
  </div>
</div>

<h4>Biography</h4>
<p>
I'm a M.S. student at the 
<a href="http://www.cs.cqu.edu.cn/">Department of Computer Science and Technology</a>, 
<a href="http://english.cqu.edu.cn/">Chongqing University (CQU)</a>, under the supervision of Prof. 
<a href="http://yz.cqu.edu.cn/view_teacher.php?tid=14025">Yunni Xia</a> since Fall 2015. Previously, I received my bachelor degree in Chongqing University (CQU) in June, 2015.
</p>
<p>
<a href="CV/CV_Yongbo Wang.pdf"><strong>Yongbo's Curriculum Vitae.</strong></a>
</p>

<h4>Research Interests</h4>
<P>
My research interests include natural language processing, machine learning and deep learning.
</P>

<h4>Recent Highlights</h4>
{% for post in site.papers %}
  {% include paper.html paper=post %}
{% endfor %}

<h4>Experience</h4>
<ul>
  <li>
    <span class="color-blue">Research Intern |</span> 
    <a href="http://www.aitech.xin">Aizhihui Technology Co., Ltd.</a>, Shenzhen, China<br/>
    <strong>Topic:</strong> Machine Learning and NLP<br/>
    Jul 2016 - present
  </li>
  <li>
    <span class="color-blue">Intern |</span> Chongqing Lingdao Technology Co. Ltd., Chongqing, China<br/>
    <strong>Topic:</strong> Web Developer<br/>
    Jul 2015 - Oct 2015
  </li>
</ul>

<h4>Awards</h4>
<ul>
  <li>2nd prize Scholarship, Chongqing University (2016).</li>
  <li>2nd prize, Chongqing Division, China Undergraduate Mathematical Contest in Modeling (2013).</li>
  <li>National Endeavor Scholarship (top 5%) (2012).</li>
  <li>2nd prize Scholarship, Chongqing University (2012).</li>
</ul>

<h4>Personal</h4>
<p>
Machine Learning and Natural Language Processing (NLP) professional with over 1 year of internship experience. Good at commonly used Machine Learning algorithms and like to study cutting-edge theories and algorithms for machine learning and deep learning. Master’s candidate in Computer Science with a concentration in Cloud Computing. Double bachelor degree in Computer Science and Business Administration. Sensitive to numbers and good at using math and programming to solve practical problems. Title of <a href="http://www.ruankao.org.cn/jsjnew/cms/English/">Network Engineer</a>. Strong background in programming.
</p>
<p>
Excellent written and verbal communication skills. Demonstrated team player. Work well with a multicultural and diverse work force. Thrives in collaborative environments.
</p>
