---
layout: default
title: Yongbo Wang
picture: nike
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>Yongbo Wang</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        <a href="http://www.cs.cqu.edu.cn/">College of Computer Science</a><br/>
        <a href="http://english.cqu.edu.cn/">Chongqing University</a><br/>
        <a href="https://en.wikipedia.org/wiki/Chongqing">Shapingba District, Chongqing, China</a><br/>
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:yongbowin@outlook.com"><span class="glyphicon glyphicon-envelope"></span></a> Email: yongbowin@outlook.com<br/>
      <a href="tel:+86-13637995210"><span class="glyphicon glyphicon-phone"></span>+86 136 3799 5210</a><br/>
      <a href="http://www.linkedin.com/in/yongbo-wang/">
        <img src="img/ico/linkedin.png" alt=""/>
       LinkedIn</a><br/>
    </div>
  </div>
</div>

<p>
Machine Learning and Natural Language Processing (NLP) professional with over 1 year of internship experience. Good at commonly used Machine Learning algorithms and like to study cutting-edge theories and algorithms for machine learning and deep learning. Master’s candidate in Computer Science with a concentration in Cloud Computing. Double bachelor degree in Computer Science and Business Administration. Sensitive to numbers and good at using math and programming to solve practical problems. Title of <a href="http://www.ruankao.org.cn/jsjnew/cms/English/">Network Engineer</a>. Strong background in programming.
</p>

<h4>Biography</h4>
<p>
I'm a M.S. student at the Department of Computer Science and Technology, Chongqing University (CQU), under the supervision of Prof. <a href="http://yz.cqu.edu.cn/view_teacher.php?tid=14025">Yunni Xia</a> since Fall 2015. Previously, I received my bachelor degree in Chongqing University (CQU) in June, 2015.
<br/>
My research interests include natural language processing, machine learning and deep learning.
</p>

<h4>Recent Highlights</h4>
{% for post in site.papers %}
  {% include publications.html paper=post %}
{% endfor %}
{% for post in site.papers %}
  {% include publications.html paper=post %}
{% endfor %}

